.ui.form .field {
  margin: 0 !important;
}

#fio {
  margin-right: 10px;
}

.page-header-userbar a:after {
  margin: 0 0 0 10px;
}

.login-form {
  display: block;
  background: #fff;
  margin: 20px auto;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 5px 20px 0 rgba(34,36,38,.15);
}

.login-form-header {
  text-align: center;
  font-size: 1.5rem !important;
  font-weight: 400;
  padding: 5% 0 10% 0 !important;
}

.login-field,
&.password-field {
  padding: 0 10% 5%;
}

.login-footer {
  background-color: #e5f1ff;
  height: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 2.5% 9.5%;

  .login-close-btn {
    float: left;
    box-shadow: none !important;
    color: #7ba7d9 !important;
    background: #fff !important;
    border: 1px solid #7ba7d9 !important;
    &:hover {
      color: #94cea8 !important;
      border-color: #94cea8 !important;
    }
  }
  .login-logout-btn {
    float: right;
    box-shadow: none !important;
    background: #7ba7d9 !important;
    color: #fff !important;
    border: 1px solid #7ba7d9 !important;
    &:hover {
      background-color: #90b5e0 !important;
      border-color: #90b5e0 !important;
    }
    &:focus {
      background: #90b5e0 !important;
      border-color: #90b5e0 !important;
    }
  }
}
